$gap: 30px;
$colorBlack: #202020;
$colorWhite: #fff;
$colorGrey: #CACACA;
$fontSize-main: 16px;
$flineHeight-main: 21px;
$colorHover:#FF6E30;
$colorActive:#CE4307;
$colorFocus:#BC572B;
$containerWidth: 1fr / 1fr minmax(auto, 1350px) 1fr;
$colorStick: #333;
$colorInput: #4A4A4A;
$colorDate: #999;
$backColorInput:#e9e9e9;
